body{
    background-image: linear-gradient(to right, #3EA9A1, #CAE3E1, #3EA9A1);
}

.title{
    margin-left: 35%;
    margin-top: 80px;
    color: #9E892E;   
    font-family: 'Trebuchet MS';
    font-weight: 600;
    word-spacing: 6px;
    text-transform: uppercase;
}

.numeroPregunta{
    color: #2F9E96;
    /*margin-left: 10%;*/
    margin-top: 70px;
    font-family: Georgia;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 10px;
}

.pregunta{
    color: #1E2528;
    /*margin-left: 11%;*/
    font-family: Georgia;
    margin-left: 10px;
    margin-top: 35px;
}

.contenido{
    color: #1E2528;
    /*margin-left: 11%;*/
    font-family: Georgia;
}

.caja{
 width: 700px;
 height: 540px;

 border-style: outset;
 margin-left: 25%;
 margin-top: 45px;
 border-radius: 10px;
 background-color: #EAEAEA;
}

.abierta{
    background-color: #CBE0E8;
    margin-left: 11%;
}

.previous, .next {
    background-color: #EBCA38;
    border-radius: 4px;
    box-shadow: 0px 2px; 
    cursor: pointer;
    transition-duration: 750ms;
    font-family: helvetica;
}

.previous:hover, .next:hover{
   background-color: #E7E383;
   
}

.previous:active, .next:active{
    margin-top: 5px;
    color:black;
    box-shadow: 0px 0px;
   }

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.enviar {
    background-color: orange;
    display: inline-flex;
    margin-left: 25px;
    border-radius: 4px;
    box-shadow: 0px 2px; 
    cursor: pointer;
}

.enviar:hover {
   background-color: #FFC06B;
}

.enviar:active{
    margin-top: 5px;
    color:black;
    box-shadow: 0px 0px;
}

.multiple{
    cursor: pointer;
}

@media only screen and (min-width:480px) and (max-width:700px){
    .caja{
        width: 70%;
    }

    .pregunta{
        width: 70%;
    }

    .contenido{
        width: 30%;
    }
}